<div class="container">
    <div class="card">
        <div class="row m-0" style="display:flex;flex-direction: row;align-items: center;">
            <div class="section-b col-md-3">
                <input class="input mt-2 mb-2" (keyup)="applyFilter($event.target.value)" type="text" name="Search"
                    placeholder="Search...">
            </div>
            <div class="col-md-6">
                <mat-form-field >
                    <mat-select placeholder="Select Institution">
                      <mat-option *ngFor="let institution of institutionList">{{ institution.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>  
            </div>
                               
            <!-- <div class="col-md-6" style="display:flex ;justify-content:flex-start;gap:10px">
            </div> -->
            <div class="add-coupon col-md-3">
                <a routerLink="/experts/add">+&nbsp;{{'Add New Experts'}}</a>
            </div>
        </div>

    </div>
    <div class="card">
        <table mat-table matSort [dataSource]="filteredData?.length? filteredData:dataSource">
            <ng-container matColumnDef="s.no">
                <th class="first" mat-header-cell *matHeaderCellDef>
                    <span>S.No</span>
                </th>
                <td mat-cell *matCellDef="let request">{{request._id}}</td>
            </ng-container>

            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef>
                    <span>Image</span>
                </th>
                <td mat-cell *matCellDef="let request">
                    <div class="head-user-avatar-container">
                        <div class="head-user-avatar">
                            <img [src]='request.image' alt="user" class="user-avatar">
                        </div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>
                    <span>Name</span>
                </th>
                <td mat-cell *matCellDef="let request">{{request.name}}</td>
            </ng-container>

            <ng-container matColumnDef="designation">
                <th mat-header-cell *matHeaderCellDef>
                    <span>Designation</span>

                </th>
                <td mat-cell *matCellDef="let request">{{request?.designation}}</td>
            </ng-container>
            <ng-container matColumnDef="institution">
                <th mat-header-cell *matHeaderCellDef>
                    <span>Institution</span>
                </th>
                <td mat-cell *matCellDef="let request">{{request.institution}}</td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th class="last" mat-header-cell *matHeaderCellDef>
                    <span>Action</span>
                </th>
                <td mat-cell *matCellDef="let request">
                    <div class="displayicon">
                        <mat-icon style="font-size: 18px;cursor:pointer" matTooltip="Edit"
                            (click)="edit('edit',request._id,request)">edit</mat-icon>
                        <mat-icon style="font-size: 18px;cursor:pointer" matTooltip="Delete"
                            (click)="delete(request._id)">delete</mat-icon>
                        <mat-icon style="font-size: 18px;cursor:pointer" matTooltip="View"
                            (click)="edit('view',request._id,request)">visibility</mat-icon>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let request; columns: columnsToDisplay"></tr>

        </table>
        <div class="spinner-container" *ngIf="!dataSource.data?.length  && !noData">
            <mat-spinner [diameter]="50"></mat-spinner>
        </div>
        <div class="no_data" *ngIf="!dataSource.data?.length  && noData">
            <p style="color:white;">{{'No data available'}}</p>
        </div>
    </div>
</div>