<div class="container">
    <div class="card">
        <div class="row" style="display:flex;flex-direction: row;align-items: center;">
            <div class="section-b col-md-3">
                <input class="input m-3" (keyup)="applyFilter($event.target.value)" type="text" name="Search"
                    placeholder="Search...">
            </div>
            <div class="col-md-6" style="display:flex ;justify-content:flex-start;gap:10px">
            </div>

            <div class="add-coupon col-md-3">
                <!--  -->
                <a routerLink="/institution/add">+&nbsp;{{'Add New Institution'}}</a>
            </div>

        </div>

    </div>
    <div class="card">
        <div class="table_list">
            <table mat-table matSort [dataSource]="filteredData?.length? filteredData:dataSource">
                <ng-container matColumnDef="s.no">
                    <th class="first" mat-header-cell *matHeaderCellDef>
                        <span>S.No</span>
                    </th>
                    <td mat-cell *matCellDef="let request; index as i">{{i+1}}</td>
                </ng-container>
    
                <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef>
                        <span>Image</span>
                    </th>
                    <td mat-cell *matCellDef="let request">
                        <div class="head-user-avatar-container">
                            <div class="head-user-avatar">
                                <img [src]='request.image' alt="user" class="user-avatar">
                            </div>
                        </div>
                    </td>
                </ng-container>
    
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>
                        <span>Name</span>
                    </th>
                    <td mat-cell *matCellDef="let request">{{request.name}}</td>
                </ng-container>
    
                <ng-container matColumnDef="location">
                    <th mat-header-cell *matHeaderCellDef>
                        <span>Location</span>
                    </th>
                    <td mat-cell *matCellDef="let request">
                        <div class="disFlex">
                            <mat-icon [class]="request.city? 'locAc':'locIac'">location_on</mat-icon>
                             {{request.city}}, {{request.country}}
                        </div>
                        
                    </td>
                </ng-container>
                <!-- <ng-container matColumnDef="operator">
                    <th mat-header-cell *matHeaderCellDef>
                        <span>Opeartors</span>
                    </th>
                    <td mat-cell *matCellDef="let request">{{request.operator ? request.operator : '-'}}</td>
                </ng-container>                  -->
                <ng-container matColumnDef="action">
                    <th class="last" mat-header-cell *matHeaderCellDef>
                        <span>Action</span>
                    </th>
                    <td mat-cell *matCellDef="let request">
                        <div class="displayicon">
                            <mat-icon style="font-size: 18px;cursor:pointer" matTooltip="Edit" (click)="edit('edit',request._id,request)">edit</mat-icon>
                            <mat-icon style="font-size: 18px;cursor:pointer" matTooltip="Delete" (click)="delete(request._id)">delete</mat-icon>
                            <mat-icon style="font-size: 18px;cursor:pointer" matTooltip="View" (click)="edit('view',request._id,request)">visibility</mat-icon>
                        </div>
                    </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let request; columns: columnsToDisplay"></tr>
    
            </table>
            <div class="spinner-container" *ngIf="!dataSource.data?.length  && !noData">
                <mat-spinner [diameter]="50"></mat-spinner>
            </div>
            <div class="no_data" *ngIf="noData">
                <p style="color:white;">{{'No data available'}}</p>
            </div>
        </div>
        <mat-paginator [hidden]="noData" [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 25, 50]" #institutionPaginations>
        </mat-paginator> 
        
    </div>
</div>