.confirm_btn{
    background-color: #FF4E45 !important;
    color: #fff
}
.no_btn{
    background-color: #fff !important;;
}

.delete_dialog{
    background-color: #2E2E2E;
    border: none;
    color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}